yfinance
uvicorn
coverage
matplotlib
matplotlib
# Set working directory
WORKDIR /fastapi_app

# Copy files
COPY . /fastapi_app

# Install dependencies
RUN pip install --no-cache-dir -r requirements.txt

# Expose port
EXPOSE 8000

# Run FastAPI app
CMD ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
